beautifulsoup4
cn2an
edge-tts
face_recognition
flask
homeassistant_api
jieba
librosa
lxml
misaki
ollama
openai
opencv-python
ordered_set
ping3
psutil
pyaudio
pygame
pypinyin
pywifi
rapidocr_openvino
soundfile
ultralytics
kokoro_onnx==0.4.5
funasr_onnx==0.4.1
#numpy==1.26.4

#sudo apt install cmake libasound-dev portaudio19-dev libportaudio2 libportaudiocpp0 espeak